VITE_BYPASS_LOGIN=1
VITE_BYPASS_TUTORIAL=0
VITE_SERVER_URL=http://localhost:8001
VITE_DISCORD_CLIENT_ID=mogger-mon-local-discord
VITE_GOOGLE_CLIENT_ID=mogger-mon-local-google
VITE_AURA_LOGIN_ORIGIN=https://auramaxx.gg
VITE_AURA_CLIENT_ID=moggermon
VITE_I18N_DEBUG=0
